<div class="infos">
                <p><strong>Actualités Pont-Audemer</strong></p>
                <img src="{{asset('images/arriere-plan.png')}}" alt="" width="">
                <p>Marché de Pont-Audemer:</p>
                <p>Lundi Matin / Vendredi Matin</p>
                <hr class="hr-text">
                <p>Foire à tout:</p>
                <p>le 12-06-2022 à Beuzeville de 7h - 17h</p>
                <p>le 19-06-2022 à Pont-Audemer de 7h - 17h</p>
                <p>le 26-06-2022 à Fourmetot de 7h - 17h</p>
                <hr class="hr-text">
            </div>