 <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#"><img src="{{ vich_uploader_asset(app.user.boutique, 'imageFileLogo') }}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="true"><ion-icon class="admin-icon" name="storefront-outline"></ion-icon><span>Gérer ma boutique</span></a>
                                
                                <ul class="collapse">                                   
                                    <li><a href="#">Voir ma boutique</a></li>
                                    <li><a href="#">Modifier ma boutique</a></li>
                                                                        
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="true"><ion-icon class="admin-icon" name="apps-outline"></ion-icon><span>Gérer les produits</span></a>
                                <ul class="collapse">                                   
                                    <li><a href="{{path('app_commercant_produits_index')}}">Tous les produits</a></li>
                                    <li><a href="{{path('app_commercant_add_produit')}}">Ajouter un produit</a></li>                                    
                                </ul>
                            </li>
                            
                          
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->