{% extends 'layouts/base.html.twig' %}

{% block body %}


    <div class="main-content-inner">
        <!-- MAIN CONTENT GOES HERE -->
        <h1>Détail de votre boutique</h1>
        {% include "commercant/commercant_boutique/com_bout_partials/_boutique_detail_com.html.twig" %}  
    </div>

    
    
{% endblock %}