{% extends 'layouts/admin.html.twig' %}

{% block body %}

    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">

    {% include "commercant/commercant_partials/_commercant_side_menu.html.twig" %}       
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
                {% include "layouts/admin_partials/_admin_header.html.twig" %}            
            <!-- page title area end -->
            <div class="main-content-inner">
                <!-- MAIN CONTENT GOES HERE -->
                <h1 class="u-margin-top-medium u-center-text heading-primary">Modifier votre boutique</h1>
                {% include "commercant/commercant_boutique/com_bout_partials/_boutique_form.html.twig" %}  
            </div>            
        </div>
        <!-- main content area end -->    
{% endblock %}