{% extends 'layouts/admin.html.twig' %}
{% block body %}
    <h1>Modifier votre boutique</h1>

    {% include "commercant/commercant_boutique/com_bout_partials/_boutique_form.html.twig" %}
    
{% endblock %}