<section class="banniere-des-marques">
    <div class="banniere">
        <h2 class="heading-secondary text-center u-margin-top-small u-margin-bottom-medium">Ils nous font confiance</h2>
        <ul class="boxs">
            {% for boutique in boutiques %}
                <li>
                    <img src="{{ vich_uploader_asset(boutique, 'imageFileLogo') }}" alt="{{ boutique.title }}" alt="">
                </li>                
            {% endfor %}           
        </ul>
    </div>    
</section>