<section id="home_plan">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Les bon plans
        </h2>
    </div>


    <div class="lesbonsplans">
        <div class="wrap2">
            {% for prodBonPlan in prodBonPlans %}
                
                <div class="mini_plan">
                    <div class="plan_img">
                        <img src="{{vich_uploader_asset(prodBonPlan, 'imageFileProduit')}}">
                    </div>
                    <div class="plan_text">
                        <h2>{{ prodBonPlan.title }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
                {% do prodBonPlans.setPageRange(2) %}
                {{ knp_pagination_render(prodBonPlans, 'layouts/base_partials/pagination.html.twig') }}
        </div>
    </div>


    <div class="btn__ccm u-margin-top-medium u-margin-bottom-huge">{# bouton pour Voir les bons plans #} 
        <a href="{{path('app_produit_bonplans')}}" class="ccm btn-front btn-front--green">Les Bons Plans</a>
    </div>
</section>