
<!-- Comment ca marche -->        
<section class="section-commentCaMarche u-margin-top-huge">    
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Comment ça marche?
        </h2>
    </div>

    <div class="grid grid--4-cols  u-margin-bottom-medium">
        <!-- card 1 -->
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Etape 1</span>                                    
                </h4>            
            </div>
            <!-- Back side comment ca marche -->
            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__text-box">
                        <p class="card__description">Inscrivez-vous... <br> Si vous êtes utilisateur, validez votre inscription et faites vos premiers achats. </p>                                

                    </div>                    

                </div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Etape 2</span>                                    
                </h4>
                
            </div>                    
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <div class="card__text-box">
                        <p class="card__description">Vous êtes commerçant ? <br> Cochez la case et vous serez redirigé vers le formulaire de création de boutique. </p>                                
                    </div>                    
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Etape 3</span>                                    
                </h4>
               
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__text-box">
                        <p class="card__description">La boutique est fini... <br> Vous aurez accès à votre page de gestion de boutique, votre SIRET sera vérifié et votre boutique sera désactivé si il n'est pas valide. </p>                                
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--4">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">Etape 4</span>                                    
                </h4>
                
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                    <div class="card__text-box">
                        <p class="card__description">Gérez votre boutique... <br> Créez des produits, ils seront automatiquement inséré en ligne, ils sortiront de la boutique si le stock s'épuise.</p>                                
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- fin des 4 cards -->

    </div>  <!-- Grid end -->

    <div class="btn__ccm u-margin-top-medium u-margin-bottom-huge">{# bouton pour s'inscrire #} 
        <a href="{{path('app_register')}}" class="ccm btn-front btn-front--green">Inscrivez-vous maintenant!</a>
    </div>

</section>

