<section id="intro">
    <div class="wrap1">
        <div class="introduction">
            <div class="titre">
                <h1>Proxi' Services</h1>
                <h1>Pont-audemer</h1>
            </div>
            <div class="text">
            <p>Est un site de vente</p>
            <p>regroupant les commerçants</p>
            <p>d'une communauté de commune.</p>
            <p>Son principe est de permettre</p>
            <p>au petit commerçants</p>
            <p>d'avoir une fenêtre sur internet</p>
            <p>et aux utilisateurs d'acheter local.</p>
            </div>
        </div>
        <div class="inscriptions">
            <ul>
            <li><a href="inscription">INSCRIPTIONS</a></li>
            </ul>
        </div>
    </div>
    <div class="wrap">
        <div class="banniere">
            <ul class="boxs">
                <li class="shadow">
                    <img src="asset/css/img/logo_rislepizza.png" alt="">
                </li>
                <li class="shadow">
                    <img src="asset/css/img/logo_laurette.png" alt="">
                </li>
                <li class="shadow">
                    <img src="asset/css/img/logo_proxygen.png" alt="">
                </li>
                <li class="shadow">
                    <img src="asset/css/img/Logo-CDC.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>