{% extends 'layouts/base.html.twig' %} 

{% block title 'Proxi\'Services'%}

{% block body %}        
        {% include 'home/home_partials/_hero.html.twig' %}

    <main>    
        
        {% include 'home/home_partials/_Comment_ca_marche.html.twig' %}
        {% include 'home/home_partials/_bon_plans.html.twig' %}
    </main>
    
{% endblock %}
