{% extends 'layouts/base.html.twig' %}    


{% block body %}
<section id="commerce">
    <div class="wrap">
        <div class ="titre">
            <h1>Bons Plans !!!</h1>
        </div>
        <div class ="shop-container">
            <div class="produits">
                <div class="boxs">
                    <div class="boxs_boutiques">
                        <h2>Type de Bons Plans !</h2>
                        <ul class="boxs">
                            <li class="shadow">
                                <div class="bloc_text">
                                    <h2>Pizza 4 fromages</h2>
                                    <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                                    <div class="box-button">
                                        <a class="details" href="#">Article</a>
                                    </div>
                                </div>
                            </li>
                            <li class="shadow">
                                <div class="bloc_text">
                                    <h2>Designation</h2>
                                    <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                                    <div class="box-button">
                                        <a class="details" href="#">Article</a>
                                    </div>
                                </div>
                            </li>
                            <li class="shadow">
                                <div class="bloc_text">
                                    <h2>Designation</h2>
                                    <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                                    <div class="box-button">
                                        <a class="details" href="#">Article</a>
                                    </div>
                                </div>
                            </li>
                            <li class="shadow">
                                <div class="bloc_text">
                                    <h2>Designation</h2>
                                    <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                                    <div class="box-button">
                                        <a class="details" href="#">Article</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <!-- --------nav bar d'information-------------- -->
            {% include "nav/nav_partials/_nav.html.twig" %}
            <!-- /////////////////////////////////////////////////// -->
        </div>
    </div>
</section>
{% endblock %}
