{% extends 'layouts/base.html.twig' %}    


{% block body %}
<section id="commerce">
    <div class="wrap2">
        <div class ="titre">
            <h1>Bons Plans !!!</h1>
        </div>
        <div class ="shop-container">
            <div class="produits">
                <div class="boxs">
                    <div id="home_plan">
                        <div class="u-center-text u-margin-bottom-little">
                            <h2 class="heading-secondary">
                                Les Bons plans
                            </h2>
                        </div>
                        <div class="lesbonsplans">
                            <div class="wrap2">
                            {% for i in 1..4 %}
                                <div class="mini_plan">
                                    <div class="plan_img">
                                        <img src="https://picsum.photos/id/23{{i}}/200/300">
                                    </div>
                                    <div class="plan_text">
                                        <h2>Titre {{ i }} super text méga génial</h2>
                                    </div>
                                    <div class="box-button">
                                        <a class="details" href="{{path('app_boutique_detail')}}">details</a>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- --------nav bar d'information-------------- -->
            {% include "nav/nav_partials/_nav.html.twig" %}
            <!-- /////////////////////////////////////////////////// -->
        </div>
    </div>
</section>
{% endblock %}
