.commercant {
    .page-container {
        .sidebar-menu,
        .sidebar-header {
            background-color: $color-adm-commercant-side-bar;
        }
    }
}

.admin-icon {
    padding-top: 0.5rem;
    font-size: 3rem;
}

// .main-menu {
//     .slimScrollDiv {
//         .menu-inner {
//             nav {
//                 .metismenu#menu {
//                     li {
//                         a {
//                             background-color: $color-adm-commercant-side-bar;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
