:root {
    --vert: #17C1A4;
    --vertfonce: #12A791;
    --vertlogo: #7ed957;
    --bleuclair: #3C5598;
    --bleufonce: #293A70;
    --bleucyan: #30BAE8;
    --bleu: #1D264F;
    --bleulogo: #162a3d;
    --noirclair: #111111;
    --blanc: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}

body {
    background-color: var(--noirclair);
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
}

ul ol {
    list-style: none;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.wrap {max-width: 1600px; width:100%; margin: 0 auto;}

.wrap1 {
    max-width: 850px;width: 100%;margin: 0 auto;padding: 0 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
    background: var(--noirclair);
    
}

#header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 3rem 1rem;
}

#header .menu {
    margin-top: 1.5rem;
}

#header nav ul{
    display: flex;
}

#header nav ul li a {
    display: inline-block;
    line-height: 2em;
    padding: 0 10px;
    font-size:20px;
    color: #fff;
}

#header nav ul li a:hover{
color: var(--vertlogo);
transition: 1s;
}