:root {
    --vert: #17C1A4;
    --vertfonce: #12A791;
    --vertlogo: #7ed957;
    --bleuclair: #3C5598;
    --bleufonce: #293A70;
    --bleucyan: #30BAE8;
    --bleu: #1D264F;
    --bleulogo: #162a3d;
    --noirclair: #111111;
    --blanc: #fff;
    --bleuvert: #47fdd8;
    --vertfeuille: #40e394;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}

body {
    background-color: var(--noirclair);
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
}

ul ol {
    list-style: none;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.wrap {max-width: 1000px; width:100%; margin: 0 auto;}

.wrap1 {
    max-width: 850px;width: 100%;margin: 0 auto;padding: 0 1rem;
}

.wrap2 {max-width: 1200px; width:100%; margin: 0 auto;}

//////// hero///////////////

#intro {
    background: url('../../images/img_main/arriere_plan3.jpg') no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 1rem;;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    color: var(--blanc);
    font-size: 1.4rem;
}
#intro .wrap1 .inscriptions {
    padding-top: 1rem;
    filter: opacity(.8);
}
#intro .wrap1 .inscriptions a {
    color: var(--vertlogo);
    background-color: var(--bleulogo);
    padding: .5rem 2rem;
    transition: all 1s;
    border-radius: 4px;
}
#intro .wrap1 .inscriptions a:hover{
    color: var(--vert);
    background-color: var(--bleufonce);
}
#intro .wrap1 .introduction {
    background-color: var(--bleulogo);
    filter: opacity(.8);
    border-radius: 10px;
}

#intro .wrap1 .introduction p {
    font-size: 1.5rem;
}
#intro .wrap1 .introduction h1 {
    font-size: 3rem;
}

#intro .wrap1 .gestion_com {
    background-color: var(--bleulogo);
    filter: opacity(.8);
    border-radius: 10px;
    width: 65%;
    margin: 0 auto;
}

#intro .wrap1 .gestion_com ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem;
}

#intro .wrap1 .gestion_com li{
   font-size: 3rem;
}

.banniere {
    background-color: var(--bleulogo);
    filter: opacity(.8);
    border-radius: 10px;
}
.banniere .boxs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    flex-flow: row nowrap;
}
.banniere .boxs li {
    width: 25%;
}
.banniere .boxs img {
    width: 80%;
    border-radius: 10px;
}

#home_plan {
    .lesbonsplans {
        .wrap2 {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        .mini_plan {
            background-color: white;
            width: 24%;
            border-radius: 10px;
            margin-bottom: 1rem;

            .plan_img {
                img {width:100%;}
            }
            .plan_text h2{
                text-align: center;
            }
        }
    }
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 300px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: var(--vertlogo);
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
}
.footer-bottom p a{
    color:var(--vertlogo);
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
    float: right;

}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: var(--vertlogo);
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #000;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #000;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #fff;
    background-color: #a60f9f;
}
.hr-text:before {
    content: "";
    background: linear-gradient(90deg, transparent, var(--vertlogo), transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}
// ////// Page Boutique //////////
#commerce {
    background-color: var(--bleulogo);
    margin: 0 auto;
}
#commerce .titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#commerce .titre h1 {
    display: inline-block;
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 10px;
}
#commerce .logo img {
    padding: 0.5em;
}
#commerce .infos {
    display: inline-block;
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 10px;
}
#commerce .infos p {
    text-align: center;
    padding: 0.5em;
}
.shop-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: .5em;
    border-radius: 1rem;

}
.shop-container .produits {
    width:80%;
    background-color: lightgray;
    margin: 1rem;
    border-radius: 1rem;
}
.shop-container .produits .bloc_text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.shop-container .infos {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}
.shop-container .infos img {
    width: 100%;
    margin: 0 auto;
}
.shop-container .produits .boxs {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.shop-container .produits .boxs .boxs .bloc_text {
    background-color: var(--bleulogo);
    border-radius: 1rem;
    color: #fff;
    padding: 1rem;
    filter: opacity(.8);
}
.shop-container .produits .boxs img {
    border-radius: 1rem;
}
.shadow {
    padding: 1rem;
}
// ///////// css spécial ////////////
.labello {
    width: 15rem;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 1rem;
    border-radius: .9rem;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(
    to right,
    rgb(28, 164, 96) 0%,
    rgb(30, 189, 109) 50%,
    rgb(17, 153, 85) 100%
    );
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
    display: inline-block;
    margin: .5rem;
    text-align: center;
}
.inp-btn {
    margin-left: 25%;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1rem;
    padding: .7rem;
    border-radius: .9rem;
    background-image: linear-gradient(
    to right,
    rgb(28, 164, 96) 0%,
    rgb(30, 189, 109) 50%,
    rgb(17, 153, 85) 100%
    );
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
    display: inline-block;
    margin: .5rem;
    text-align: center;
}
.pagination li a {
    text-decoration: none;
    color: wheat;
    width: 7rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    border-radius: .9rem;
    background-image: linear-gradient(
    to right,
    rgb(28, 164, 96) 0%,
    rgb(30, 189, 109) 50%,
    rgb(17, 153, 85) 100%
    );
    border: 2px solid black;
    display: inline-block;
    margin: .5rem;
    text-align: center;
}
.details {
    width: 7rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: .5rem;
    padding: .5rem;
    border-radius: .9rem;
    background-image: linear-gradient(
    to right,
    rgb(61, 233, 27) 0%,
    rgb(32, 218, 41) 50%,
    rgb(17, 153, 85) 100%
    );
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
.logo {
    padding: .5em;
}
// ////////Boutique////////////////
.produits .inscriptions {
    padding-top: 1rem;
    filter: opacity(.8);
    text-align: center;
    margin: 1rem;
}
.produits .inscriptions a {
    color: var(--vertlogo);
    background-color: var(--bleulogo);
    padding: .5rem 2rem;
    transition: all 1s;
    border-radius: .4rem;
}
.produits .inscriptions a:hover{
    color: var(--vert);
    background-color: var(--bleufonce);
}
.box-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// /////Prix /////////
.prix {
    display: flex;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    background-color: var(--vertfonce);
    margin: 0 auto;
    position: absolute;
    top: 5px;
    transform: translateX(350%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
.prix p{
    font-size: 1.5rem;
}
.prix .dash {
    text-align: center;
    margin-top: .6rem;
    align-items: center;
}
// /////// les boutiques//////////
.boxs_boutiques {
    border-radius: 10px;
    margin: 1rem;
    align-items: center;
}
.boxs_boutiques h2 {
    padding: .5rem;
    text-align: center;
    min-height: 7rem;
}
// @media screen and (max-width:300px) {
    
//     }
@media screen and (max-width:600px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    // .banniere {
        
    // }
    }
@media screen and (max-width:900px) {
    #home_plan {
        .lesbonsplans {
            .wrap2 {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            .mini_plan {
                background-color: white;
                width: 48%;
                margin-bottom: 2rem;
        }
    }
    }
}