.banniere-des-marques {
    border-top: 1px solid $color--vert;
    border-bottom: 1px solid $color--vert;
    background-color: $color-black;
}

.banniere {
    margin: 0 auto;
    h2 {
        display: block;
    }

    .boxs {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding: 2rem;
        flex-flow: row wrap;
        li {
            width: 9%;
            text-align: center;
            img {
                width: 80%;
                object-fit: cover;
                border-radius: 10px;
                opacity: 0.8;
            }
        }
    }
}
