{% extends 'layouts/base.html.twig' %}    

{% block body %}
<section id="commerce">
    <div class="wrap">
        <div class ="titre">
            <h1>Les Boutiques</h1>
        </div>
        <div class ="shop-container">
            <div class="produits">
                <div class="boxs">
                    <div class="boxs_boutiques">
                        <h2>Type de Boutique</h2>
                        <ul class="boxs">
                            {% for boutique in boutiques %}
                                <li class="shadow">
                                    <div class="bloc_text">
                                        <h2>{{ boutique.title }}</h2>
                                        <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                                        <div class="box-button">
                                            <a class="details" href="{{path('app_single_boutique', {id: boutique.id})}}">boutique</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}                            
                        </ul>
                    </div>                    
                </div>
            </div>
            
                <!-- --------nav bar d'information-------------- -->
             {% include "nav/nav_partials/_nav.html.twig" %}
            <!-- /////////////////////////////////////////////////// -->
        </div>
    </div>
</section>
{% endblock %}
