{% extends 'layouts/base.html.twig' %}    

{% block body %}
<section id="commerce">
        <div class="u-center-text u-margin-bottom-little">
            <h2 class="heading-secondary">
                Les Boutiques
            </h2>
        </div>
        <div class ="shop-container">
            <div class="produits">
                    <div class="boxs">
                        <div id="home_plan">
                            <div class ="titre">
                                <h1>Type de Boutique</h1>
                            </div>
                            <div class="lesbonsplans">
                                <div class="wrap2">
                                {% for boutique in boutiques %}
                                        <div class="mini_plan">
                                            <div class="plan_img">
                                                <img src="{{vich_uploader_asset(boutique, 'imageFileBoutique')}}" alt="{{boutique.title}}">
                                            </div>
                                            <div class="plan_text">
                                                <h2>{{ boutique.title }}</h2>
                                                <div class="box-button">
                                                    <a class="details" href="{{path('app_single_boutique', {id: boutique.id})}}">boutique</a>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                    
            </div>
                <!-- --------nav bar d'information-------------- -->
            {% include "nav/nav_partials/_nav.html.twig" %}
            <!-- /////////////////////////////////////////////////// -->
        </div>
</section>
{% endblock %} 

