<hr class="hr-text">
<footer>
    <div class="">
        <div class="footer-content">
            <a href="#"><img src="{{asset('images/proxi-service2.png')}}" alt="" width="150"></a>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <hr class="hr-text">
        <div class="footer-bottom">
            <p>copyright &copy; <span class="year">2027</span> <a href="#header">Proxi Services</a></p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li class="active"><a href="#">Les Boutiques</a></li>
                    <li class="active"><a href="#">Bons Plans!</a></li>
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>