// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// formulaire
$color-text-form: #151617;
$color-form-background: #77f977;

// pour system comment ca marche
$color-blue-light: #7084f5;
$color-blue-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// LAYOUT ADMIN
$color-adm-commercant-side-bar: #154123;
$color-adm-commercant-side-bar-link: #177434;

// MAIN
$color--vert: #17c1a4;
$color--vertfonce: #12a791;
$color--vertlogo: #7ed957;
$color--bleuclair: #3c5598;
$color--bleufonce: #293a70;
$color--bleucyan: #30bae8;
$color--bleu: #1d264f;
$color--bleulogo: #162a3d;
$color--noirclair: #111111;
$color--blanc: #fff;

$color-filter-hero: #2121219c;
// ----------------------------

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 134rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
