{% block title %}Editer votre compte{% endblock %}
{% extends 'layouts/base.html.twig' %}
{% block body %}
     <h1>Editer votre compte</h1>
    
    {{ form_start(form) }}        
    <div class="form-style grid grid--2-cols">

        <div class="form-style--left">
            {{form_row(form.nom)}}                
        </div>

        <div class="form-style--right">
            {{form_row(form.email)}}
        </div>            
    </div>
    <div class="form-style--div-submit">
        <input class="form-style--btn-submit" type="submit" value="Valider" formnovalidate>
    </div>

{{ form_end(form) }}
{% endblock %}