<hr class="hr-text">
        <section id="commerce">
            <div class="wrap">
                <div class="logo">
                    <img src="{{asset('images/logo_rislepizza2.png')}}" alt="" width="200"/>
                </div>
                <div class ="titre">
                    <h1>Boutique Risle Pizza</h1>
                </div>
                {# //////zone boutique #}
                <div class ="shop-container">
                    <div class="produits">
                        <div class="boxs">
                            <ul class="boxs">
                                <li class="shadow">
                                    <div class="bloc_text">
                                        <img src="{{asset('images/image-box.jpg')}}" alt="">
                                        <h3>numéro 1</h3>
                                        <div class="box-button">
                                            <input class="inp-btn" type="submit" value="Ajouter au Panier"></input>
                                            <a class="details" href="{{path('app_single_produit')}}">details</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="inscriptions">
                            <input class="inp-btn" type="submit " value="Valider le Panier">
                        </div>
                    </div>
                <!-- --------nav bar d'information-------------- -->
                    <div class="infos">
                        <p><strong>Risle pizza</strong></p>
                        <img src="{{asset('images/arriere-plan.png')}}" alt="" width="150">
                        <p>horraires d'ouvertures:</p>
                        <p>du mardi au vendredi</p>
                        <p>de 9h a 18h</p>
                        <p>du samedi au dimanche</p>
                        <p>de 11h a 16h</p>
                        <hr class="hr-text">
                        <p>adresse postale:</p>
                        <p>6rue du paradis</p>
                        <p>arnacq la poste 36000</p>
                        <p>numéro de téléphone:</p>
                        <p href="tel:08.69.69.69.69">08.69.69.69.69</p>
                        <hr class="hr-text">
                    </div>
                <!-- /////////////////////////////////////////////////// -->
                </div>
            </div>
        </section>
        <hr class="hr-text">