<hr class="hr-text">
        <section id="commerce">
            <div class="wrap">
                <div class="logo">
                    <img src="{{asset('images/logo_rislepizza2.png')}}" alt="" width="200"/>
                </div>
                <div class ="titre">
                    <h1>Boutique Risle Pizza</h1>
                </div>
                {# //////zone boutique #}
                <div class ="shop-container">
                    <div class="produits">
                        <div class="boxs">
                            <ul class="boxs">
                                {% for produit in produits %}
                                <li class="shadow">
                                    <div class="bloc_text">
                                        <img src="{{asset('images/image-box.jpg')}}" alt="">
                                        <h3>{{ produit.title }}</h3>
                                        <div class="box-button">
                                            <input class="inp-btn" type="submit" value="Ajouter au Panier"></input>
                                            <a class="details" href="{{path('app_single_com_produit', {id: produit.id})}}">details</a>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="inscriptions">
                            <input class="inp-btn" type="submit " value="Valider le Panier">
                        </div>
                    </div>
               
                </div>
            </div>
        </section>
        <hr class="hr-text">